{% extends 'layout.html'%}

{%block block1%}
   <br>         
<h2>Ict Calicut</h2><br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos cum aut doloribus quisquam incidunt nostrum architecto tempora possimus facere labore porro eaque animi omnis voluptatum earum esse, deleniti alias quis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro accusantium sint harum suscipit hic vero quod totam vel? Fugit modi ipsa quas distinctio, quos rem iure suscipit voluptatem dolores eum!</p>            
            
            
            
{%endblock%}