{%extends 'layout.html'%}
{%block mycontent%}

<div class="col-sm-6"><br>
    <div class="row">
        <div class="col-sm-6">Name:</div>
        <div class="col-sm-6">{{stuname}}</div>
    </div>
    <div class="row">
        <div class="col-sm-6">Reg no:</div>
        <div class="col-sm-6">{{sregno}}</div>
    </div>
    <div class="row">
        <div class="col-sm-6">Subject 1: </div>
        <div class="col-sm-6">{{s1name}}</div>
    </div>
    <div class="row">
        <div class="col-sm-6">Grade of Subject 2: </div>
        <div class="col-sm-6">{{s1grade}}</div>
    </div>
    <div class="row">
        <div class="col-sm-6">Subject 2: </div>
        <div class="col-sm-6">{{s2name}}</div>
    </div>
    <div class="row">
        <div class="col-sm-6">Grade of Subject 2:</div>
        <div class="col-sm-6">{{s2grade}}</div>
    </div>
    <div class="row">
        <div class="col-sm-6">Subject 3: </div>
        <div class="col-sm-6">{{s3name}}</div>
    </div>
    <div class="row">
        <div class="col-sm-6">Grade of Subject 3: </div>
        <div class="col-sm-6">{{s3grade}}</div>
    </div>
    <div class="row">
        <div class="col-sm-6">Overall Status: </div>
        <div class="col-sm-6">{{status}}</div>
    </div>
</div>










{%endblock%}